body {
margin: 0;	
}

h1 {
display:inline-block;	
text-align: center;
padding: 4px 8px;

color: lightsteelblue;
background-color: #393939;
border-bottom: 5px solid lightsteelblue;
font-family: inconsolata;	
font-size: 400%;
font-weight: normal;
}